<!DOCTYPE html>
<html lang="en">
<head>
  <%- include head.ejs %>
  <title>PB | USERS</title>
</head>
<body>
  <%- include header.ejs %>
  <main>
    <h1><%= title %></h1>
    <input id="search" type="text">
    <div id="results">
    </div>
  </main>
  <footer>
    <p>joevanbo™</p>
  </footer>
  <p id="omegalul" style="display:none">
      <%= data %>
    </p>
  <script>
    const data = JSON.parse(document.getElementById('omegalul').innerHTML);
    const search = document.getElementById('search');
    const results = document.getElementById('results');

    search.addEventListener('input', debounceSearch(onSearchEvent));
    function onSearchEvent (e) {
      if(!e.target.value) {
        results.innerHTML = '';
        return;
      }

      const regexp = new RegExp(`^${e.target.value}`, 'gi');

      // search by user or roles
      const matches = data.filter(d => {
        return d.user.match(regexp) || d.roles.find(r => r.match(regexp));
      });
      const plural = matches.length === 1 ? '' : 's';
      results.innerHTML = `<p>${matches.length} result${plural}</p><br><br>`
      results.innerHTML += matches.map(m => {
        return `<div class="res">
          <p class="uname">${m.user}</p>
          <p>${m.roles.join(', ')}</p>
        </div>
        <br>`
      }).join('');

      return;
    };
  </script>
</body>
</html>